@font-face {
  font-family: "CooperHewitt-Medium";
  src: url("./fonts/CooperHewitt/CooperHewitt-Medium.woff") format("woff");
}

@font-face {
  font-family: "CooperHewitt-Book";
  src: url("./fonts/CooperHewitt/CooperHewitt-Book.woff") format("woff");
}

@font-face {
  font-family: "CooperHewitt-Heavy";
  src: url("./fonts/CooperHewitt/CooperHewitt-Heavy.woff") format("woff");
}

@font-face {
  font-family: "CooperHewitt-Semibold";
  src: url("./fonts/CooperHewitt/CooperHewitt-Semibold.woff") format("woff");
}

@import url("https://free.bboxtype.com/embedfonts/?family=FiraSans:300,400,500,600,900");

body {
  margin: 0;
}

.StripeElement {
  height: 40px;
  padding: 10px 12px;
  width: 100%;
  color: #32325d;
  background-color: white;
  border: 1px solid transparent;
  border-radius: 4px;

  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}
